<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Stress Detection</title>
<style>
    #videoCanvas {
        width: 100%;
        height: auto;
        border: 1px solid black;
    }
</style>
</head>
<body>
<video id="videoCanvas" autoplay playsinline></video>
<div id="stressLevel">Stress Level: Loading...</div> <!-- Initial message -->
<div id="status">Status: Connecting...</div> <!-- Connection status message -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
<script>
    const socket = io.connect('http://localhost:5000');

    socket.on('connect', function() {
        console.log('Connected to server');
        document.getElementById('status').innerText = 'Status: Connected'; // Update status message
    });

    socket.on('disconnect', function() {
        console.log('Disconnected from server');
        document.getElementById('status').innerText = 'Status: Disconnected'; // Update status message
    });

    // Listen for stress_update event
    socket.on('stress_update', function(data) {
        console.log('Received stress update:', data); // Log received data
        // Update stress level on the webpage
        document.getElementById('stressLevel').innerText = 'Stress Level: ' + data?.stress_level?.toFixed(2) + '%';
    });

    // Access webcam and render feed onto canvas
    const videoCanvas = document.getElementById('videoCanvas');
    const constraints = {
        video: true
    };

    async function init() {
        console.log("init ")
        try {
            const stream = await navigator.mediaDevices.getUserMedia(constraints);
            videoCanvas.srcObject = stream;
            setInterval(captureFrame, 1000); // Capture frame every 1 second
        } catch (err) {
            console.error('Error accessing webcam: ', err);
        }
    }

    async function captureFrame() {
        console.log("cap")
        const canvas = document.createElement('canvas');
        canvas.width = videoCanvas.videoWidth;
        canvas.height = videoCanvas.videoHeight;
        const ctx = canvas.getContext('2d');
        ctx.drawImage(videoCanvas, 0, 0, canvas.width, canvas.height);
        const base64_str = canvas.toDataURL('image/jpeg').split(',')[1]; // Convert captured frame to base64 string
        console.log(base64_str)
        socket.emit('frame_data', { base64_str }); // Send base64 string to backend
    }

    // Call init() to start accessing webcam
    init();
</script>
</body>
</html>

